/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}


#root,
#__next {
  isolation: isolate;
}

/* variables */

:root {
  /* Primary */
  --primary-color: hsl(158, 36%, 37%);
  --primary-color-dark: hsl(158, 42%, 18%);

  /* Neutral */
  --color-text: hsl(212, 21%, 14%);
  --color-text-muted: hsl(228, 12%, 48%);
  --color-bg: hsl(30, 38%, 92%);
  --color-White: hsl(0, 0%, 100%);

  /* font stuff */
  --ff-base: "Montserrat", sans-serif;
  --ff-alt: "Fraunces", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}
/* base styling */

html {
  font-size: 14px;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  background-color: var(--color-bg);
}
/* component styling */
.product-container {
  max-width: 450px;
  margin: 2rem 1rem;
  border-radius: 0.8em;
  overflow: hidden;
  background-color: var(--color-White);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.product-details {
  display: grid;
  gap: 2rem;
  padding: 2rem 1.4rem ;
}
.product-title {
  font-size: 1rem;
  color: var(--color-text-muted);
  letter-spacing: 6px;
  text-transform: uppercase;
}
.product-name {
  font-size: clamp(2.3rem, 4vw, 2.5rem);
  font-family: var(--ff-alt);
  font-weight: var(--fw-bold);
  line-height: 1;
  color: var(--color-text);
}
.product-description {
  font-size: clamp(1.2rem ,1.5vw , 1.3rem);
  color: var(--color-text-muted);
}
.product-price {
  display: flex;
  align-items: center;
  gap: 1.2em;
}  
 /* for accessibility  */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);

}
.new-price {
  font-size: 2.5rem;
  font-family: var(--ff-alt);
  color: var(--primary-color);
}
.old-price {
  color: var(--color-text-muted);
  font-size: 0.9rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding: 1.5em 0;
  font-weight: var(--fw-bold);
  color: var(--color-White);
  border: none;
  border-radius: 0.4em;
  background-color: var(--primary-color);
  transition:  0.5s ease;
  cursor: pointer;

}
.btn:hover,
.btn:focus-visible {
  transform: translateY(-1px);
  outline: none;
  background-color: var(--primary-color-dark);
}
.btn .fa-cart-shopping {
  margin-right: 0.5em;
}

footer{
  text-align: center;
  margin: 1rem;
}
.attribution a{
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  background: linear-gradient(90deg, var(--primary-color), var(--primary-color-dark));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}


/* media quries */

@media (min-width: 48em) {
  .product-container {
    display: flex;
    max-width: 650px;
  }
  .product-img-wrapper {
    flex: 1;
  }
  /* to avoid croping */
  .product-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-details {
    flex: 1;
  }
}
